.signin-form-wrapper {
  max-width: 350px;
  margin: 50px auto;
  padding: 15px;
  border-radius: 5px;

  .signin-form {
    padding: 15px 0 0 0;
  }

  .form-footer {
    border-top: 1px solid var(--color-black-dark);
    padding: 15px 0 0 0;
  }
}
