body {
  overflow-y: scroll;
  min-height: calc(100vh - var(--header-height));
}

.sidebar {
  position: sticky;

  a {
    text-decoration: none;
    transition: 0.4s;
    display: inline-block;
    padding: 8px 20px;
    font-weight: 600;
  }

  ul {
    display: block;
    > li {
      display: block;
      > a {
        display: block;
        &:hover {
          box-shadow: inset 2px 0 0 0 var(--color-primary-light);
        }
        &.router-link-exact-active {
          box-shadow: inset 2px 0 0 0 var(--color-primary);
        }
      }
    }
  }
}
