body,
button, input, select, textarea {
  font-size: var(--font-size);
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 18pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
h4 {
  font-size: 12pt;
}
h5 {
  font-size: 11pt;
}
