
/**
 * Base layout sizing
 */
:root {
  --header-height: 40px;

  // Colors
  --color-gray: rgb(179, 196, 219);
  --color-primary: rgb(79, 70, 229);
  --color-primary-light: rgb(129, 140, 248);
  --color-attention: rgb(219, 39, 119);
  --color-attention-pale: rgb(253, 242, 248);
  --color-black: rgb(30, 41, 59);
  --color-black-dark: rgb(20, 29, 44);

  --text-color: var(--color-gray);
}
