
/**
 * Base layout sizing
 */
:root {
  --header-height: 40px;

  // Colors
  --color-gray: rgb(148, 163, 184);
  --color-primary: rgb(79, 70, 229);
  --color-primary-light: rgb(129, 140, 248);
  --color-attention: rgb(219, 39, 119);
  --color-attention-pale: rgb(253, 242, 248);
  --color-black: rgb(30, 41, 59);
  --color-black-dark: rgb(20, 29, 44);

  --text-color: var(--color-gray);
}


$header-height: 50px;
$sidebar-width: 273px;
$sidebar-collapsed-width: 70px;
$checkbox-width: 22px;
$checkbox-height: 22px;
$page-header-height: 88px;
$collapse-button-height: 56px;

$base-font-size-small: 12px;
$base-font-size: 14px;
$base-font-family: 'Lato', sans-serif;
$sidebar-font-size: 16px;
$tabs-font-size: 18px;
$page-header-font-size: 24px;
$sign-in-header-font-size: 30px;
$base-line-height: 21px;
$base-outline: 4px dashed cornflowerblue;

/**
 * Base gutters
 */
$base-margin: 4px;
$base-padding: 4px;
$base-padding4: 4;
$base-border-radius: 4px;
$base-radius: 5px;
$base-outline: 4px dashed cornflowerblue;

/**
 * Color section
 */
$color--white: #fff;
$color--lighter-gray: #F3F7F9;
$color--mid-light-gray: #EAEFF3;
$color--light-gray: #CCD5DD;
$color--middle-gray: #74838A;
$color--dark-gray: #2C3E46;
$color--predark-gray: #404A4F;
$color--orange: #FF6F00;
$color--bright-orange: #FF881A;
$color--dull-orange: #FBD1AB;
$color--pale-orange: #FFEDDC;
$color--dark-green: #00A01A;
$color--uplifting-green: #35C04C;
$color--dull-green: #ECFFEF;
$color--red: #F03E3E;
$color--bright-red: #FFB8AE;
$color--dull-red: #FFF0F0;
$color--tab-focus: #329DFF;

$color--focus-outline: $color--light-gray;
$base-text-color: $color--dark-gray;

// Primary color set
$color--primary: $color--bright-orange;
$color--primary-hover: $color--orange;
$color--primary-focus: $color--bright-orange;

// Default color set
$color--default: $color--white;
$color--default-active: $color--middle-gray;
$color--default-hover: $color--lighter-gray;
$color--primary-focus: $color--white;
