.header {
  display: block;
  background-color: #eee;

  .nav {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;

    a {
      text-decoration: none;
      transition: 0.4s;
      display: inline-block;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
      }
      &.router-link-exact-active {
        color: var(--color-text);
        box-shadow: 0 2px 0 0 hsla(160, 100%, 37%, 1);
      }
    }
  }
}
